<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/chatbot_style.css') }}">
</head>
<style>
	.bg-col{
      background: #CCCCB2;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>
<body class=bg-col>
	<nav class="navbar navbar-expand-lg navbar-light bg-light bg-col">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color:white" href="/login">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" href="/chatbot">Chatbot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" href="http://35.223.2.120/" target="_blank">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
	{% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert-{{category}}"> {{ message }}</div>
    {% endfor %}

    <div class=container>
    	<div class="row">
    		<div class="col-md-8">
    			<h1 class="text-light display-4 mt-100" style="font-size:80px"> Welcome to the Chatbot Admistrative Page.</h1>
    		</div>
    		<div class="col-md-4">
    			<img class="mt-100" src="https://miro.medium.com/max/692/1*4F7AyOXKu7f9TqcIZnWX2A.jpeg">
    		<div>
    	</div>
    </div>
    
</body>
</html>