{% extends 'layout.html' %}
{% block title %} Register {% endblock %}
{% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert-{{category}}"> {{ message }}</div>
    {% endfor %}

<div class="wrapper fadeInDown bg-col">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="https://cdn.dribbble.com/users/2356062/screenshots/5588407/logo_design-05_2x.jpg" id="icon" alt="User Icon" />
    </div>
    <form method="POST" action="/register">
      <input type="text" id="login" class="fadeIn second" name="name" placeholder="Enter your name" required>
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter your username"  required>
      <input type="password" id="login" class="fadeIn third" name="password" placeholder="Enter your password"  required>
      <input type="password" id="login" class="fadeIn-third" name="confirm password" placeholder="Re-enter the password"  required>
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
  </div>
</div>
{% endblock %}
